
AddDefaultCharset UTF-8

Options -Indexes

DirectoryIndex main.php

RewriteEngine On

RewriteBase /kesachphatgiao/
#RewriteRule ^(.*)/(.*)$ $1.php?ctrl=$2 [L]
#RewriteRule ^(.*)\.php/(.*)$ $1.php?ctrl=$2 [R]

# RewriteRule ^(.*)\.com/(.*)$ $1.php?ctrl=$1 [L]

#RewriteBase /kesachphatgiao/
#RewriteRule ^main/(.*)/$ main.php?ctrl=$1 [L]


RewriteRule ^system/$ -[F,NC]
RewriteRule ^public/$ -[F,NC]

RewriteCond %{TIME_HOUR}%{TIME_MIN} >2359 [OR]
RewriteCond %{TIME_HOUR}%{TIME_MIN} <0001



<Files .htaccess>

Order Allow,Deny
Deny from all

</Files>